-r core-requirements.txt
numpy
google-auth<2.0dev
dask
dask-ml
docker<5.0.0
pandas
elasticsearch==7.12.0
elasticsearch_dsl
scipy
scikit-learn
scikit-optimize
pyzmq<22.0.0
colorama
cloudpickle==1.6.0
click>=7.0.0
psutil>=5.6.3
requirements-parser>=0.2.0
texttable>=1.6.2
woodwork==0.1.0
featuretools>=0.20.0
nlp-primitives>=1.1.0
networkx>=2.5
mlflow
mlflow[extras]
hyperopt
jupyter
plotly>=4.14.0
kaleido>=0.1.0
ipywidgets>=7.5
xgboost>=0.82,<1.3.0
matplotlib>=3.3.3
graphviz>=0.13
seaborn>=0.11.1
category_encoders>=2.0.0
statsmodels >= 0.12.2
starlette
python-dotenv
sktime>=0.5.3;python_version<"3.9"





